body {
  font-family: "Tajawal", sans-serif !important;
  min-width: 350px;
}

.page-header.navbar .page-logo {
  float: right;
  width: 235px;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.logo_label {
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  margin: 0;
}

.page-header.navbar .page-logo .logo-default {
  margin: 0 !important;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
  float: left;
  margin: 0 !important;
}

.FontFamilyTajawal {
  font-family: "Tajawal", sans-serif !important;
}

#sample_2_filter,
#sample_1_length,
#sample_1_filter {
  margin-top: 0 !important;
}

#sample_1_wrapper .dt-buttons {
  display: none !important;
}


.page-content {
  margin-top: 0;
  padding: 0;
  /* background-color: #fff; */
  background-color: #fafafa !important;
}

.portlet.light {
  padding: 12px 20px 15px !important;
  background-color: #fafafa !important;
}
