body {
  font-family: "Tajawal", sans-serif !important;
  min-width: 350px;
}

.page-header.navbar .page-logo {
  float: right;
  width: 235px;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.logo_label {
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  margin: 0;
}

.page-content {
  background-color: #fafafa;
}

.page-header.navbar .page-logo .logo-default {
  margin: 0 !important;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
  float: left;
  margin: 0 !important;
}

.FontFamilyTajawal {
  font-family: "Tajawal", sans-serif !important;
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}

/*  ---------- */

.form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input .form__body {
  display: flex;
  width: 100%;

}

.form__input .form__body .form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
  margin-top: 8px;
}

.form__input .form__body .form__group .control__header {
  color: #0a325f;
}


.form__group .control__label {
  display: flex;
  justify-content: start;
  align-items: start;
  /*width: 35%;*/
  /*background-color: #0a325f;*/
  padding: 12px 3px !important;
  border-radius: 10px !important;
  color: #0a325f;
  text-align: center;
}

.form__group .form__control {
  width: 100%;
  font-size: 16px !important;
}

.form__group .form__control .input__Form {
  width: 100%;
  padding: 10px 8px !important;
  /*border-radius: 10px !important;*/
  margin-right: 5px;
  font-size: 16px !important;
}

input[type="text"], textarea, input[type="file"], input[type="time"], select {
  font-size: 16px !important;
  /*padding: 5px !important;*/
  outline: none;
  border: 0;
  box-shadow: 1px 1px 3px rgba(192, 192, 192, 0.95);
  resize: none;
}

input[type="text"]:focus, textarea:focus, input[type="file"]:focus, input[type="time"]:focus, select:focus {
  outline: none;
  border: 0;
  box-shadow: 1px 1px 3px rgba(192, 192, 192, 0.95);
}


.Input_textarea {
  margin-top: 20px !important;
}

.form__control {
  position: relative;
}

.p_input__Form {
  position: absolute;
  left: 2px;
  bottom: -35px;
}


.mt-repeater .mt-repeater-item:not(:nth-of-type(2)) {
  border-top: 1px solid #ddd !important;
  padding-top: 15px !important;
  margin-top: 15px !important;
  border-bottom: 0 !important;
}

.mt-repeater .mt-repeater-item:nth-of-type(2) {
  border-top: 1px solid #ddd !important;
  padding-top: 15px !important;
  margin-top: 15px !important;
  border-bottom: 0 !important;
}

/*btn__blue*/
.btn__container {
  margin: 0;
}

.form-group .btn__container {
  padding: 0 0 15px 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid silver;
}

.btn__container .btn__blue {
  padding: 5px 20px;
  text-align: center;
  border: 1px solid #0a325f !important;
  border-radius: 10px !important;
  background-color: transparent;
  font-size: 16px;
  transition: all ease 0.3s;
  color: #0a325f;
}

.btn__container .btn__blue:hover {
  border: 1px solid transparent !important;
  background-color: #0a325f;
  color: white;
}

.formHeader {
  margin-top: 15px !important;
}

.btn-danger {
  border-radius: 10px !important;
}

/* ---------------- calender --------------- */

.container {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  color: #bbb;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.calendar {
  width: 45rem;
  height: auto;
  background-color: #fafafa;
  margin-bottom: 20px;
  /* box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4); */
}

.month {
  width: 100%;
  height: 5rem;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
}

.month i {
  font-size: 2rem;
  cursor: pointer;
}

.month h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
  transition: background-color 0.2s;
  color: #262626;
}

.days div:hover:not(.today) {
  background-color: #8d8d8d;
  border: 0.2rem solid #777;
  cursor: pointer;
  color: white;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #e02d5d !important;
  color: white !important;
  cursor: pointer !important;
  border-radius: 5% !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;

}

.my-listDo {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  color: white;
}

.li_date_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 2.3rem;
  background-color: #ececec;
  border-radius: 8px !important;
  padding: 15px 10px !important;
}

.li_date_parent:not(:first-child) {
  margin-top: 10px !important;
}


.li_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 2.3rem;
  background-color: #0c203a;
  border-radius: 8px !important;
  padding: 5px 20px !important;

}

.li_date:not(:last-child) {
  margin-bottom: 10px;
}

.li_date input {
  background-color: transparent;
  outline: none;
  border: 0;
  box-shadow: none;
}

/*daysCrossed*/
.daysCrossed {
  display: flex;
}

#daysCrossed {
  margin-right: 10px !important;
}

.daysCrossed_btn {
  padding: 5px 30px !important;
  background-color: #e02d5d !important;
  color: white;
  border-radius: 10px !important;
  font-size: 16px;
}

.daysCrossed_btn:hover,
.daysCrossed_btn:focus {
  color: white !important;
  text-decoration: none;
}

/*1040px*/
@media (max-width: 450px) {
  .container {
    width: 100%;
    height: auto;
    background-color: white;
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .weekdays {
    width: 100%;
    height: 2.5rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
  }

  .weekdays div {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    width: calc(80% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    margin: 0 auto;
    /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
  }

  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }

  .days:nth-of-type(36),
  .days:nth-of-type(37),
  .days:nth-of-type(38),
  .days:nth-of-type(39),
  .days:nth-of-type(40) {
    margin: 0.02rem;
  }

  .days:last-child {
    margin: 0.01rem;
  }

  .days div {
    font-size: 1.4rem;
    width: calc(85% / 7);
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
    transition: background-color 0.2s;
    color: #262626;
    /*margin: 0.3rem auto;*/
  }

  .my-listDo {
    justify-content: center;
  }

  .daysCrossed_btn {
    display: block;
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }
}



